.myvideo-video {
    display: inline-block;
    text-align: center;
    margin: 1% 2% 1% 2.7%;
}

.myvideo-video video {
    display: block;
    margin: 0 auto;
}

.myvideo-video p {
    margin-bottom: 5px;
}