body {
    /*:::::::::::::::????????????????:::::::::::::*/
    background-color: rgb(19, 19, 37);
    color: white;
}


/* AD 1 */
.ad1-container {
    position: relative;
    min-width: 100%;
    height: 45vh;
}

.ad1-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ad1-container .first {
    position: absolute;
    top: 10%;
    left: 4%;
    color: #e40b0b;
    /* font-weight: bold; */
    font-size: 4rem;
}

.ad1-container p {
    position: absolute;
    bottom: 10%;
    left: 4%;
    color: #e40b0b;
    font-size: 2rem;
}

.ad1-container ul {
    position: absolute;
    bottom: 10%;
    right: 4%;
    color: #e40b0b;
    font-size: 16px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ad1-container ul li {
    margin-left: 16px;
}

/* AD 2 */
.ad2-container {
    position: relative;
    min-width: 100%;
    height: 40vh;
}

.ad2-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ad2-container .second {
    position: absolute;
    top: 10%;
    left: 4%;
    color: #e40b0b;
    /* font-weight: bold; */
    font-size: 4rem;
}

.ad2-container p {
    position: absolute;
    bottom: 10%;
    left: 4%;
    color: #e40b0b;
    font-size: 2rem;
}

.ad2-container ul {
    position: absolute;
    bottom: 10%;
    right: 4%;
    color: #e40b0b;
    font-size: 16px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ad2-container ul li {
    margin-left: 16px;
}


/* CARD CSS */

#card-main_containner_div{
    padding: 1%;
    margin: 1% 3% 2% -1%;
}

.card-video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    /* margin-left: 1.5%;  */
}


.card-video {
    border: 1px solid rgb(118, 118, 163);
    border-radius: 20px;
    margin-bottom: 2%;
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
    margin-left: 2%; 
    /* max-width: 300px; */
}

.btn-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 1%;
}

#view-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#view-btn:focus {
    outline: none;
}

#new-view-btn {
    margin-left: 90%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .card-video-container {
        display: block;
        margin-right: 0;
    }

    .card-video {
        width: 100%;
        margin-right: 0;
    }
}